.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none !important;
}
.food-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5em 3em;
  justify-items: center;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-img-top {
  height: 250px;
}
.flag-card {
  width: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.origin-card {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 50px;
}
.search-form {
  margin: 70px 0px 20px 0px;
  margin-right: 47%;
}
.input-search {
  padding: 15px;
  width: 20em;
  border-radius: 10px;
}
.dropdown-search {
  display: flex;
  align-items: center;
  margin: 8px;
  gap: 10px;
}
.list-icon {
  border-style: none;
  width: 2em;
}
.list-btn {
  background-color: transparent;
  border: none;
}
.icon-right {
  background: url("https://res.cloudinary.com/de9zdtobn/image/upload/v1679583227/icons8-search-60_jcpjq2.png")
    no-repeat right;
  background-size: 30px;
}
