.food-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flag-card {
  width: 60px;
  border: 1px solid lightgray;
}
.flag2-card {
  width: 60px;
}
.flags {
  display: flex;
  gap: 20px;
}
.origin-card {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-form {
  margin: 20px;
}
.input-search {
  padding: 10px;
  width: 20em;
}
.dropdown-search {
  display: flex;
  align-items: center;
}
.list-icon {
  border-style: none;
  width: 2em;
}
.list-btn {
  background-color: transparent;
  border: none;
}
